# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Build Binaries

on:
  push:
    branches: [ main ]

jobs:
  build-macos:
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.22'

      - name: Build for macOS ARM64
        run: |
          GOOS=darwin GOARCH=arm64 CGO_ENABLED=1 go build -o bin/mcpfurl.macos_arm64 main.go

      - name: Build for macOS amd64
        run: |
          GOOS=darwin GOARCH=amd64 CGO_ENABLED=1 go build -o bin/mcpfurl.macos_amd64 main.go

      - name: combine macOS binaries
        run: |
           lipo -create -output bin/mcpfurl.macos_all bin/mcpfurl.macos_amd64 bin/mcpfurl.macos_arm64

      - name: Upload macos_all binary
        uses: actions/upload-artifact@v4
        with:
          name: mcpfurl.macos_all
          path: bin/mcpfurl.macos_all

      - name: Upload macos_amd64 binary
        uses: actions/upload-artifact@v4
        with:
          name: mcpfurl.macos_amd64
          path: bin/mcpfurl.macos_amd64

      - name: Upload macos_arm64 binary
        uses: actions/upload-artifact@v4
        with:
          name: mcpfurl.macos_arm64
          path: bin/mcpfurl.macos_arm64
  build-linux-amd64:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.22'

      - name: Install compilers
        run: |
          sudo apt-get update
          sudo apt-get install -y gcc musl musl-tools curl

      - name: Build Linux amd64 (musl static)
        run: |
          CGO_ENABLED=1 GOOS=linux GOARCH=amd64 CC=musl-gcc \
          go build -ldflags='-extldflags "-static"' -o bin/mcpfurl.linux_musl_amd64 main.go

      - name: Upload linux_musl_amd64 binary
        uses: actions/upload-artifact@v4
        with:
          name: mcpfurl.linux_musl_amd64
          path: bin/mcpfurl.linux_musl_amd64

  build-linux-arm64:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.22'

      - name: Install cross-compilers
        run: |
          sudo apt-get update
          sudo apt-get install -y gcc-aarch64-linux-gnu gcc musl musl-tools curl

      - name: Install musl cross compiler for aarch64
        run: |
          mkdir -p /opt/musl-cross
          git clone https://github.com/mbreese/mcpfurl-build.git
          cat mcpfurl-build/extern/aarch64-linux-musl-cross.tgz.1 mcpfurl-build/extern/aarch64-linux-musl-cross.tgz.2 > aarch64-linux-musl-cross.tgz
          tar -xzf aarch64-linux-musl-cross.tgz -C /opt/musl-cross
          echo "/opt/musl-cross/aarch64-linux-musl-cross/bin" >> $GITHUB_PATH

      - name: Build Linux arm64 (musl static)
        run: |
          CC=aarch64-linux-musl-gcc \
          CGO_ENABLED=1 GOOS=linux GOARCH=arm64 \
          go build -ldflags='-extldflags "-static"' -o bin/mcpfurl.linux_musl_arm64 main.go

      - name: Upload linux_musl_arm64 binary
        uses: actions/upload-artifact@v4
        with:
          name: mcpfurl.linux_musl_arm64
          path: bin/mcpfurl.linux_musl_arm64
